<%- include('com/header') %>
    <div class="child-mid">
      <ul>
        <% userList.forEach(item => { %>
          <li>
            <a><%= item.name %></a>
            <p>Hello, my name is <%= item.name %>, i am <%= item.age%> years old, i am from <%= item.city%></p>
            <buttom type="button" class="btn btn-danger">删除</buttom>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>
</body>

<%- include('com/footer')  %>